# Environment variables that start with VITE get 
# sent to the browser.
VITE_MAPBOX_TOKEN=... # Your Mapbox token from https://mapbox.com
VITE_ARCGIS_API_KEY=...    # Your ArcGIS API Key from https://developers.arcgis.com
